Python Files/Dashboard Testing/Node-Red/Test 1.txt
[
    {
        "id": "1",
        "type": "tab",
        "label": "CSV Processing Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2",
        "type": "file in",
        "z": "1",
        "name": "Read CSV",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 200,
        "y": 120,
        "wires": [["3"]]
    },
    {
        "id": "3",
        "type": "csv",
        "z": "1",
        "name": "Parse CSV",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "obj",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 400,
        "y": 120,
        "wires": [["4", "5"]]
    },
    {
        "id": "4",
        "type": "function",
        "z": "1",
        "name": "Prepare for Python",
        "func": "msg.payload = {\n    csv_data: msg.payload,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [["6"]]
    },
    {
        "id": "5",
        "type": "ui_chart",
        "z": "1",
        "name": "Initial Graph",
        "group": "A",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Original Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "6",
        "type": "exec",
        "z": "1",
        "command": "python3",
        "addpay": true,
        "append": "/path/to/your_script.py",
        "useSpawn": false,
        "timer": "",
        "oldrc": false,
        "name": "Run Python Script",
        "x": 800,
        "y": 120,
        "wires": [["7"], [], []]
    },
    {
        "id": "7",
        "type": "json",
        "z": "1",
        "name": "Parse Python Output",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1000,
        "y": 120,
        "wires": [["8"]]
    },
    {
        "id": "8",
        "type": "ui_chart",
        "z": "1",
        "name": "Processed Graph",
        "group": "A",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Processed Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1200,
        "y": 120,
        "wires": []
    },
    {
        "id": "A",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "B",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "B",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
