Python Files/Dashboard Testing/Node-Red/Test 3 (Steves Node-Red Guide).txt
[{"id":"60463e3a.b7fb4","type":"tab","label":"graph csv","disabled":false,"info":""},{"id":"fd6a782f.8607a8","type":"inject","z":"60463e3a.b7fb4","name":"","topic":"start","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["f6d3c9af.1c6d18"]]},{"id":"ff0ba1e2.f46ab","type":"ui_chart","z":"60463e3a.b7fb4","name":"","group":"2ac8e3fa.8b8584","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":340,"wires":[[]]},{"id":"2466e014.fe459","type":"debug","z":"60463e3a.b7fb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":160,"wires":[]},{"id":"f6d3c9af.1c6d18","type":"file in","z":"60463e3a.b7fb4","name":"","filename":"example.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":160,"wires":[["3d784d1.a733332","2466e014.fe459"]]},{"id":"3d784d1.a733332","type":"csv","z":"60463e3a.b7fb4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":350,"y":240,"wires":[["f3d8e5f0.29d548","2466e014.fe459"]]},{"id":"f3d8e5f0.29d548","type":"function","z":"60463e3a.b7fb4","name":"graph generate","func":"\nfunction toTimestamp(strDate){\n     var datum = Date.parse(strDate);\n     return datum/1000;\n    }\nvar payload=msg.payload;\n\n\nvar data_out=[];\nvar a1=[];\nvar a2=[];\nvar a3=[];\nvar a4=[];\nfor(let i=0;i<payload.length;i++)\n{\n  \nvar Data= payload[i].Data.split(\"-\");\nvar t=Data[2]+\"/\"+Data[1]+\"/\"+Data[0];\nvar timestamp=toTimestamp(t+\" \"+payload[i][\"Godzina\"]);\n\n\nvar temp1={ \"x\": timestamp, \"y\":parseInt( payload[i][\"Temp_RS-485\"]) };\nvar temp2={ \"x\": timestamp, \"y\":parseInt( payload[i][\"Wilg_RS-485\"]) };\nvar temp3={ \"x\": timestamp, \"y\": parseInt(payload[i][\"Temperatura I\"])};\nvar temp4={\"x\": timestamp, \"y\": parseInt(payload[i][\"Wilgotność I\"])};\n\na1.push(temp1);\na2.push(temp2);\na3.push(temp3);\na4.push(temp4);\n \n \n //\n \n \n}\n\ndata_out=[a1,a2,a3,a4];\nmsg.payload=[{\n\"series\": [\"Temp_RS-485\",\"Wilg_RS-485\",\"Temperatura I\",\"Wilgotność I\"],\n\"data\":data_out,\n\"labels\": [\"Temp_RS-485\",\"Wilg_RS-485\",\"Temperatura I\",\"Wilgotność I\"]\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["2466e014.fe459","ff0ba1e2.f46ab"]]},{"id":"2ac8e3fa.8b8584","type":"ui_group","z":"","name":"Default","tab":"ebb1ed1c.5ebe2","order":1,"disp":true,"width":"12","collapse":false},{"id":"ebb1ed1c.5ebe2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]